.*
!.gitignore
!.gitattributes
__test__
*~
*.orig
*.rej
*.bak
*.BAK
*.o
*.obj
*.pyo
*.slo
*.gch
*.pch
*.lib
*.a
*.pyd
*.dll
*.so
*.pyc
*.exe
*.out
*.app
*.elf
*.lst
*.hex
*.map
*.bin
*.ncb
*.idb
*.pdb
*.sdf
*.suo
/out/
